.formInputGeneral {
  border: 1.5px solid #917ebd;
  border-radius: 6px;
  padding: 10px;
}
#fullName {
  width: 100%;
  height: 50px;
}
#emailAddress {
  width: 100%;
  height: 50px;
  margin-right: 5px;
}

.formInputGeneral::placeholder {
  padding: 5px;
  margin: 5px;
}
.PhoneInputInput {
  border: 1.5px solid #917ebd;
  border-radius: 6px;
  width: 230px;
  height: 50px;
}
section .PhoneInputInput {
  border: 1.5px solid #917ebd;
  background-color: #f9edf5;
  color: #917ebd;
  border-radius: 15px;
  width: 300px;
  height: 50px;
}
input[type='radio']:after {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
input[type='radio']:checked:after {
  width: 18px;
  height: 18px;
  font-weight: bold;
  border-radius: 18px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #917ebd;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.inputGeneralStyle {
  background-color: #f9edf5;
  color: #917ebd;
  padding: 10px;
  border-radius: 13px;
}
.inputGeneralStyle::placeholder {
  color: #917ebd;
}

.buttonGeneralFirst {
  background-color: #917ebd;
  color: #f9edf5;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.buttonGeneralSecond {
  color: #917ebd;
  background-color: #f9edf5;
}

#text_Style_heading {
  color: #917ebd;
  border-radius: 13px;
}
.course_curriculum{
  width: 65%;
  font-size: 18px;
}
.enterprise_main{
  margin-right: 200px;
  margin-left: 160px;
  margin-top: 30px;
}
@media screen and (max-width: 950px) {
  .course_curriculum{
    width: 100% !important;
  }
}

@media screen and (max-width: 780px) {
  .enterprise_main{
    margin: 10px;
  }
  .course_curriculum{
    font-size: 10px !important;
  }
  .main_course {
    width: 100% !important;
    margin: 0;
  }
  .course_main {
    margin: 15px 15px 15px 15px !important;
    font-size: 13px;
  }
  .option_select {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .text_options {
    text-align: center;
  }
  .main_option {
    justify-content: center;
    width: 100% !important;
  }
  .option_button {
    padding: 5px 20px 5px 20px !important;
  }
  .main_course_details {
    /* margin: 10px !important; */
    width: 100% !important;
  }
  .main_course_details span {
    font-size: 30px !important;
  }
  .sizing_course_details {
    width: 100% !important;
  }
  .heading_text_course_details {
    font-size: 10px !important;
  }
}
